<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../controllers/controller.js"></script>
</head>

<body>
    <h1>User Information</h1>
    <div>
        Name: <%= user.data.name %><br>
        Email: <%= user.data.email %><br>
        <form action="/logout" method="POST">
            <input type="submit" name="logout" value="Logout" />
        </form>
        <div>
            <table border="1px">
                <% tokens.forEach(function(token){ %>
                    <tr>
                        <td>ID: </td>
                        <td>
                            <%= token._id %>
                        </td>
                    </tr>
                <% }); %>
            </table>
        </div>
    </div>
</body>
</html>